   <div class="main">
        
        <!-- cards -->
        <div class="cardBox">
                <app-user-card type_of_card = "Student"></app-user-card>
                <app-user-card type_of_card = "Teacher"></app-user-card>
                <app-user-card type_of_card = "Parent"></app-user-card>
                <app-user-card type_of_card = "Staff"></app-user-card>
        </div>
        <div class="details">
            <div class="middle_chart_pie">
                <app-count-chart></app-count-chart>
            </div>
            <div class="middle_chart_br">
                <app-attendance-chart class="app-attendance-chart"></app-attendance-chart>
            </div>
            <div class="bottom_chart">
                <app-finance-chart></app-finance-chart>
            </div>
            
            <!-- Charts -->
        <!-- order details list -->
        
        <!-- New Customer -->
        <!-- <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Recent Customers</h2>
            </div>
            <table>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img1.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img2.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img3.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img4.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img5.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img6.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img7.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img8.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
                <tr>
                    <td width="60px"><div class="imgBx"><img src="img/img9.jpg" alt=""></div></td>
                    <td><h4>David<br><span>Italy</span></h4></td>
                </tr>
            </table>
        </div>
        </div> -->
        
        </div>
        <div class="right">
            <div class="calender">
                <app-calendar></app-calendar>
            </div>
            <div class="announcement">
                <app-announcement></app-announcement>
            </div>
        </div>
    </div>