<div class="container">
    <app-menu></app-menu>
  <!-- <app-nabvar></app-nabvar> -->
  <!-- main -->
   <div class="main">
      <app-nabvar></app-nabvar>
      <!-- cards -->
       <div class="cardBox">
            <app-user-card type_of_card = "Student"></app-user-card>
            <app-user-card type_of_card = "Teacher"></app-user-card>
            <app-user-card type_of_card = "Parent"></app-user-card>
            <app-user-card type_of_card = "Staff"></app-user-card>
       </div>
        <div class="details">
            <div class="middle_chart_pie">
                <app-count-chart></app-count-chart>
            </div>
            <div class="middle_chart_br">
                <app-attendance-chart class="app-attendance-chart"></app-attendance-chart>
            </div>
            <div class="bottom_chart">
                <app-finance-chart></app-finance-chart>
            </div>
            <!-- Charts -->
          <!-- order details list -->
          <!-- <div class="recentOrders">
              <div class="cardHeader">
                  <h2>Recent Orders</h2>
                  <a href="#" class="recetBtn">View All</a>
              </div>
              <table>
                  <thead>
                      <tr>
                          <td>Name</td>
                          <td>Price</td>
                          <td>Payment</td>
                          <td>Status</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>IPhone</td>
                          <td>$1200</td>
                          <td>Paid</td>
                          <td><span class="status delivered">Delivered</span></td>
                      </tr>
                      <tr>
                          <td>Window Coolers</td>
                          <td>$110</td>
                          <td>Due</td>
                          <td><span class="status pending">Pending</span></td>
                      </tr>
                      <tr>
                          <td>Speakers</td>
                          <td>$620</td>
                          <td>Paid</td>
                          <td><span class="status return">Return</span></td>
                      </tr>
                      <tr>
                          <td>Hp Laptop</td>
                          <td>$110</td>
                          <td>Due</td>
                          <td><span class="status inProgress">In Progress</span></td>
                      </tr>
                      <tr>
                          <td>Apple Watch</td>
                          <td>$1200</td>
                          <td>Paid</td>
                          <td><span class="status delivered">Delivered</span></td>
                      </tr>
                      <tr>
                          <td>Wall Fan</td>
                          <td>$110</td>
                          <td>Paid</td>
                          <td><span class="status pending">Pending</span></td>
                      </tr>
                      <tr>
                          <td>Addas Shoes</td>
                          <td>$620</td>
                          <td>Paid</td>
                          <td><span class="status return">Return</span></td>
                      </tr>
                      <tr>
                          <td>Denim Shirts</td>
                          <td>$110</td>
                          <td>Paid</td>
                          <td><span class="status pending">Pending</span></td>
                      </tr>
                      <tr>
                          <td>Casual Shoes</td>
                          <td>$575</td>
                          <td>Paid</td>
                          <td><span class="status pending">Pending</span></td>
                      </tr>
                      <tr>
                          <td>Wall Fan</td>
                          <td>$110</td>
                          <td>Paid</td>
                          <td><span class="status pending">Pending</span></td>
                      </tr>
                      <tr>
                          <td>Denim Shirts</td>
                          <td>$110</td>
                          <td>Due</td>
                          <td><span class="status inProgress">inProgress</span></td>
                      </tr>
                  </tbody>
              </table>
          </div> -->
          <!-- New Customer -->
           <!-- <div class="recentCustomers">
              <div class="cardHeader">
                  <h2>Recent Customers</h2>
              </div>
              <table>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img1.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img2.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img3.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img4.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img5.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img6.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img7.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img8.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
                  <tr>
                      <td width="60px"><div class="imgBx"><img src="img/img9.jpg" alt=""></div></td>
                      <td><h4>David<br><span>Italy</span></h4></td>
                  </tr>
              </table>
           </div>
        </div> -->
        
    </div>
    <div class="calender">
        <app-calendar></app-calendar>
    </div>
</div>
</div>