.topbar{
    // width: 89%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    // @media (max-width: 991px){
    //     width: 100%;
    // }
    // @media (max-width: 768px){
    //     width: 100%;
    // }
    @media (max-width: 480px){
        width: 58%;
        .user{
            .title{
                display: none;
            }
        }
    }
}
.topbar .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.topbar .search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.topbar .search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
.user{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}
.notify{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}
.notify .message,
.notify .announcement{
    width: 35px;
    height: 35px;
    background: white;
    text-align: center;    
    border-radius: 50%;
}
.notify .message img,
.notify .announcement img{
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.user .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
}
.user .title .userDetails{
    text-align: center;
    padding-top: 7px;
    // align-items: center;
}
.user .title .userDetails h5{
    font-size: medium;
}
.user .title .userDetails p{
    text-align: end;
    font-size: small;
}
.user .title .userIcon{
    position: absolute;
    top: 4px;
    left: 70%;
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #a64c4c;
}
.user .title .userIcon h3{
    font-size: 30px;
    font-weight: 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: white;
}

