<div class="main">
    <div class="details-wrapper">
        <!-- {/* LEFT */} -->
        <div class="left-details">
        <!-- {/* TOP */} -->
        <div class="top-details">
            <!-- {/* USER INFO CARD */} -->
            <div class="user-info-card">
                <div class="img-div">
                    <img
                    src="/Rami.jpg"
                    alt=""
                    width="144"
                    height="144"
                    class="img"
                    />
                </div>
                <div class="info-div">
                    <div class="head">
                    <h1>Leonard Snyder</h1>
                <!-- {role === "admin" && <FormModal
                    table="teacher"
                    type="update"
                    data={{
                    id: 1,
                    username: "deanguerrero",
                    email: "deanguerrero@gmail.com",
                    password: "password",
                    firstName: "Dean",
                    lastName: "Guerrero",
                    phone: "+1 234 567 89",
                    address: "1234 Main St, Anytown, USA",
                    bloodType: "A+",
                    dateOfBirth: "2000-01-01",
                    sex: "male",
                    img: "https://imgs.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&w=1200",
                    }}
                />} -->
                </div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="info-details">
                    <div class="info-items">
                        <img src="/blood.png" alt="" width="18" height="18" />
                        <span>A+</span>
                    </div>
                    <div class="info-items">
                        <img src="/date.png" alt="" width="18" height="18" />
                        <span>January 2025</span>
                    </div>
                    <div class="info-items">
                        <img src="/mail.png" alt="" width="18" height="18" />
                        <span>user{{'@'}}gmail.com</span>
                    </div>
                    <div class="info-items">
                        <img src="/phone.png" alt="" width="18" height="18" />
                        <span>+1 234 567</span>
                    </div>
                </div>
            </div>
            </div>
            <!-- {/* SMALL CARDS */} -->
            <div class="small-cards">
            <!-- {/* CARD */} -->
                <div class="card-div">
                    <img
                    src="/singleAttendance.png"
                    alt=""
                    width="24"
                    height="24"
                    />
                    <div class="">
                    <h1 class="text-xl font-semibold">90%</h1>
                    <span class="text-sm text-gray-400">Attendance</span>
                    </div>
                </div>
                <!-- {/* CARD */} -->
                <div class="card-div">
                    <img
                    src="/singleBranch.png"
                    alt=""
                    width="24"
                    height="24"
                    
                    />
                    <div class="">
                    <h1 class="text-xl font-semibold">2</h1>
                    <span class="text-sm text-gray-400">Branches</span>
                    </div>
                </div>
                <!-- {/* CARD */} -->
                <div class="card-div">
                    <img
                    src="/singleLesson.png"
                    alt=""
                    width="24"
                    height="24"
                    />
                    <div class="">
                    <h1 class="text-xl font-semibold">6</h1>
                    <span class="text-sm text-gray-400">Lessons</span>
                    </div>
                </div>
                <!-- {/* CARD */} -->
                <div class="card-div">
                    <img
                    src="/singleClass.png"
                    alt=""
                    width="24"
                    height="24"
                    />
                    <div class="">
                    <h1 class="text-xl font-semibold">6</h1>
                    <span class="text-sm text-gray-400">Classes</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- {/* BOTTOM */} -->
        <div class="bottom-details">
            <!-- <h1>Teacher's Schedule</h1> -->
            <div class="schedule-container">
                <app-schedule></app-schedule>
            </div>
        </div>
        </div>
        <!-- {/* RIGHT */} -->
        <div class="right-details">
            <div class="right-card">
                <h1>Shortcuts</h1>
                <div class="shortcuts-container">
                    <a href="/">
                        Teacher&apos;s Classes
                    </a>
                    <a href="/">
                        Teacher's Students
                    </a>
                    <a href="/">
                        Teacher's Lessons
                    </a>
                    <a href="/">
                        Teacher's Exams
                    </a>
                    <a href="/">
                        Teacher's Assignments
                    </a>
                    {{teacher_id}}
                </div>
            </div>
        <!-- <Performance /> -->
        <!-- <Announcements /> -->
            <div class="announcement-details">
                <app-announcement></app-announcement>
            </div>
        </div>
  </div>
</div>