<ng-template cdkPortal>
<div class="form-wrapper">
    <div class="modal" select="[modal-body]">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <h1>Create a new teacher</h1>
          <span class="head-span">Authentication Information</span>
          <div class="auth-div">
            <div class="form-item">
              <label for="email">E-mail</label>
              <input type="text" formControlName="email" />
            </div>
              <div class="form-item">
                <label for="password">Password</label>
                <input type="text" formControlName="password" />
              </div>
          </div>
          <span class="head-span">Personal Information</span>
          <div class="personal-div">
              <div class="form-item">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="first_name" />
              </div>
              <div class="form-item">
                <label for="middleName">Middle Name</label>
                <input type="text" formControlName="middle_name" />
              </div>
              <div class="form-item">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="last_name" />
              </div>
              <div class="form-item">
                <label for="phone">Phone</label>
                <input type="text" formControlName="phone"/>
              </div>
              <div class="form-item">
                <label for="bloodType">BloodType</label>
                <input type="text" formControlName="bloodType" />
              </div>
              <div class="form-item">
                <label for="birthday">Birthday</label>
                <input type="text" formControlName="birthday" />
              </div>
              <div class="form-item">
                <div class="select-div">
                  <label for="gender" class="sex-label">Gender:</label>
                    <select id="gender" formControlName="gender">
                      <option *ngFor="let g of genders" [value]="g.value">{{g.label}}</option>
                    </select>
                </div>  
              </div>
              <div class="form-item full">
                <div class="upload-div">
                  <label class="upload-label" htmlFor="img">
                    <img [src]="previewUrl || '/upload.png'" alt="" width={28} height={28} (click)="triggerFileInput(fileInput)">
                    <span>Upload a photo</span>
                  </label>
                  <input type="file" #fileInput  accept="image/*" id="img" class="hidden" hidden/>
                </div>
              </div>
            </div>
          <span class="head-span">Address Info</span>
          <div formGroupName="address" class="address-div">
            <div class="form-item">
              <label for="street">Street</label>
              <input type="text" formControlName="street" />
            </div>
            <div class="form-item">
              <label for="city">City</label>
              <input type="text" formControlName="city" />
            </div>
            <div class="form-item">
              <label for="state">State</label>
              <input type="text" formControlName="state" />
            </div>  
            <div class="form-item">
              <label for="zip">Zip Code</label>
              <input type="text" formControlName="zip" />
            </div>
            <div class="form-item">
              <label for="country">Country</label>
              <input type="text" formControlName="country" />
            </div>
          </div>
          <button class="btn-submit-update">UPDATE</button>
        </form>
        <div class="close-btn">
          <button (click)="closeModal.emit()">
            <img src="/close.png" alt="" width="16" height="16" />
          </button>
        </div>
      </div>
</div>
</ng-template>