.form-wrapper{
    width: 100vw;                  /* w-screen */
    height: 100vh;                 /* h-screen */
    position: absolute;           /* absolute */
    left: 0;                      /* left-0 */
    top: 0;                       /* top-0 */
    background-color: rgba(0, 0, 0, 0.6); /* bg-black + bg-opacity-60 */
    z-index: 50;                  /* z-50 */
    display: flex;                /* flex */
    align-items: center;          /* items-center */
    justify-content: center;
    overflow-y: scroll;
    .modal {
        background-color: white;
        padding: 1rem;
        border-radius: 0.375rem;
        position: relative;
        width: 40%;                  /* w-[90%] */
      }
    form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        top: 6px;
        left: 17px;
        background: white;
        width: 98%;
        border-radius: 10px;
        padding: 20px;
        h1{
            font-size: 1.25rem;     /* text-xl in Tailwind = 1.25rem */
            font-weight: 600;
        }
        .head-span{
            font-size: 1.2rem;        /* text-xs */
            color: #9ca3af;            /* text-gray-400 = #9ca3af in Tailwind's default palette */
            font-weight: 500;
        }
        .auth-div{
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            gap: 1rem;
            font-size: 0.75rem;       /* text-xs */
            color: #9ca3af;           /* text-gray-400 */
            font-weight: 500; 
            .form-item{
                display: flex;
                flex-direction: column;
            }
            label {
                font-size: 15px;
                margin-bottom: 0.3rem;
                font-weight: 500;
            }
            input{
                padding: 0.4rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
        .personal-div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            font-size: 0.75rem;       /* text-xs */
            color: #9ca3af;           /* text-gray-400 */
            font-weight: 500; 
            .form-item {
                display: flex;
                flex-direction: column;
            }
            // .form-item.full {
            //     grid-column: span 1; /* takes full width */
            // }
            label {
                font-size: 15px;
                margin-bottom: 0.3rem;
                font-weight: 500;
            }
            input,
            select {
            padding: 0.4rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            }
            .select-div{
                display: flex;               /* flex */
                flex-direction: column;      /* flex-col */
                gap: 0.5rem;                 /* gap-2 = 8px */
                width: 100%;
                .sex-label{
                    font-size: 15px;     
                    color: #6b7280;
                }
            }
            .upload-div{
                display: flex;
                flex-direction: column;
                align-items: start;
                cursor: pointer; 
                .upload-label{
                    display: flex;                 /* flex */
                    align-items: center;          /* items-center */
                    gap: 0.5rem;                  /* gap-2 = 8px */
                    font-size: 0.75rem;           /* text-xs = 12px */
                    color: #6b7280;               /* text-gray-500 */
                    cursor: pointer;
                    img{
                        border: 2px dashed #ccc;
                        border-radius: 6px;
                        padding: 8px;
                        object-fit: cover;
                    }
                    span{
                        margin-top: 8px;
                        font-size: 0.9rem;
                        color: #555;
                    }
                }
            }
        }
        .address-div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            font-size: 0.75rem;       /* text-xs */
            color: #9ca3af;           /* text-gray-400 */
            font-weight: 500; 
            .form-item {
                display: flex;
                flex-direction: column;
            }
            .form-item.full {
                grid-column: span 3; /* takes full width */
            }
            label {
                font-size: 15px;
                margin-bottom: 0.3rem;
                font-weight: 500;
            }
            input{
            padding: 0.4rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            }
        }
    }
    .btn-submit-update{
        background-color: #60a5fa;   /* bg-blue-400 */
        color: white;                /* text-white */
        padding: 0.5rem;             /* p-2 = 8px */
        border-radius: 0.375rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 900;
    }
    .close-btn{
        position: absolute;        /* absolute */
        top: 1rem;                 /* top-4 = 16px */
        right: 1rem;               /* right-4 = 16px */
        // cursor: pointer; 
        background: white;
        border: none;
        outline: none;
        button{
            border: none;
            cursor: pointer;
        }
        img{
            background: white;
        }
    }
}