<div class="announcement-container">
  <div class="header">
    <h1>Announcements</h1>
    <span class="view-all">View All</span>
  </div>
  <div class="announcements-list">
    <div class="announcement-card-container"  *ngFor="let announcement of announcements">
      <div class="announcement-card sky">
        <div class="card-header">
          <h2>{{announcement.title}}</h2>
        <span class="date">
          {{announcement.date | date: 'yyyy-MM-dd'}}
        </span>
      </div>
      <p>
        {{announcement.description}}
      </p>
    </div>
    <!-- <div class="announcement-card purple">
      <div class="card-header">
        <h2>Lorem ipsum dolor sit</h2>
        <span class="date">
          2025-01-01
        </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
        expedita. Rerum, quidem facilis?
      </p>
    </div>
    <div class="announcement-card yellow">
      <div class="card-header">
        <h2>Lorem ipsum dolor sit</h2>
        <span class="date">
          2025-01-01
        </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
        expedita. Rerum, quidem facilis?
      </p>
    </div> -->
  </div>
</div>
