<div class="main">
    <div class="recentOrders">
        <div class="cardHeader">
            <h1>All Teachers</h1>
            <div class="search">
                <div class="input">
                    <img src="/search.png" width="25" height="25" />
                    <input class="search-input" type="text" placeholder="Search...">
                </div>
                <div class="icons">
                    <button class="filter">
                      <img src="/filter.png" alt="" width="25" height="25" />
                    </button>
                    <button class="sort">
                      <img src="/sort.png" alt="" width="25" height="25" />
                    </button>
                    <!-- {role === "admin" && (
                      // <button className="w-8 h-8 flex items-center justify-center rounded-full bg-lamaYellow">
                      //   <Image src="/plus.png" alt="" width={14} height={14} />
                      // </button>
                      <FormModal table="teacher" type="create"/>
                    )} -->
                  </div>
            </div>
        </div>
        <app-table [teachers]="teachers" [Label]="techerLabel"></app-table>
    </div>
</div>
