
/* main */
.main{
    position: absolute;
    width: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // top: 60px;
    left: 230px;
    // margin-left: 230px;
    height: 130vh;
    background: var(--lamaSkyLight);
    transition: 0.5s;
    .middle{
        position: absolute;
        left: 10px;
        top: 75px;
        width: 68%;
        min-height: 120vh;
    }
    .right{
        position: absolute;
        top: 60px;
        right: 0;
        width: 30.5%;
        min-height: 123vh;
        background: var(--lamaSkyLight);
        transition: 0.5s;
    }
    
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.calender{
    width: 98%;
    height: 41em;
    background: white;
    padding: 20px;
    position: absolute;
    top: 1em;
    right: 0.5em;
    border-radius: 20px;
}
.announcement{
    width: 98%;
    height: 24.5em;
    background: white;
    padding: 20px;
    position: absolute;
    top: 42.5em;
    right: 0.5em;
    border-radius: 20px;
}